body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
}

/* Credit to Professor Kim's website for the CSS Squiggly-Underline Animation: namwkim.org */
a {
  border-bottom: 2px solid #40e0d0;
  color: #052d3f;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  background-position: 0 calc(100% - 1.5px);
  border-bottom: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2340E0D0' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: auto 4px;
  border-bottom: 0;
  padding-bottom: 0.25em;
  text-decoration: none;
  cursor: pointer;
}
